@use "../../../sass/vars";

@mixin spinner($size, $speed) {
  font-size: calc(#{$size} * 2);
  animation: rotate360 $speed infinite;
}

.spinner {
  $sizes: (
    "smallest": vars.$spacerSmallest,
    "smaller": vars.$spacerSmaller,
    "default": vars.$spacerDefault,
    "medium": vars.$spacerMedium,
    "larger": vars.$spacerLarger,
    "largest": vars.$spacerLargest,
  );

  @each $size, $value in $sizes {
    &.size-#{$size} {
      &.speed-slow {
        @include spinner($value, vars.$transitionSlow);
      }

      &.speed-default {
        @include spinner($value, vars.$transitionDefault);
      }

      &.speed-fast {
        @include spinner($value, vars.$transitionFast);
      }
    }
  }
}
