@mixin button(
  $colorBackground: map-get($map: $colorBrand, $key: "400"),
  $colorText: map-get($map: $darkTheme, $key: "colorText")
) {
  padding: $spacerDefault $spacerMedium;
  background-color: $colorBackground;
  border-radius: $spacerSmaller;
  color: $colorText;
  border: 0;
}
