$breakpoint: 48em !default; //768px

// We're using transitions only on screens larger than small tablets, only if the user doesn't dislike animations. Cuz web apps suck on mobiles, let alone transitions and animations.

@mixin transition($prop) {
  @media (min-width: $breakpoint) {
    transition: $prop;
  }

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

@mixin animation($prop) {
  @media (min-width: $breakpoint) {
    animation: $prop;
  }

  @media (prefers-reduced-motion) {
    animation: none;
  }
}
