@use "./vars";

@mixin scrollbar() {
  $thumb-color: map-get(vars.$color-brand, "400");
  $track-color: map-get(vars.$color-brand, "200");

  // Styles for firefox
  scrollbar-color: $thumb-color $track-color;
  scrollbar-width: thin;

  // Styles for others
  &::-webkit-scrollbar {
    width: vars.$size-smaller;
    background-color: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;

    &:hover {
      background-color: scale-color($color: $thumb-color, $blackness: 10%);
      border: 1px dotted black;
    }
  }
}

@mixin navbar() {
  position: absolute;
  z-index: vars.$z-index-nav;
  color: var(--theme-color-text);
  box-shadow: vars.$box-shadow-smaller;
  background-color: var(--theme-color-background-subtle);
}

/* Animations */
@mixin rotate-360($speed) {
  @keyframes rotate-360 {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  animation: rotate-360 $speed infinite;
}

/* Extensions */

// We're using transitions only on screens larger than mobiles, only if the user doesn't prefer reduced motion. Cuz web apps suck on mobiles, let alone transitions and animations.
@mixin transition($prop) {
  @media (min-width: vars.$breakpoint-tablet) {
    transition: $prop;
  }

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

@mixin animation($prop) {
  @media (min-width: vars.$breakpoint-tablet) {
    animation: $prop;
  }

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

/* Breakpoints */
@mixin when-vertical-nav-appears() {
  @media (min-width: vars.$breakpoint-tablet) {
    @content;
  }
}

@mixin when-sidebar-appears() {
  @media (min-width: vars.$breakpoint-desktop) {
    @content;
  }
}

// Typography
@mixin ellipsize($lines) {
  /// @see https://stackoverflow.com/a/13924997/14716989
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
