@mixin h1 {
  margin: 0;
  font-weight: 700;
  letter-spacing: -2;
  font-size: 3.75rem;
}

@mixin h2 {
  margin: 0;
  font-weight: 700;
  letter-spacing: -2;
  font-size: 2.25rem;
}

@mixin h3 {
  margin: 0;
  font-weight: 700;
  letter-spacing: -2;
  font-size: 1.25rem;
}

@mixin subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
}

@mixin paragraph {
  margin: 0;
  font-weight: 500;
  line-height: 140%;
  font-size: 0.85rem;
}

@mixin boldText {
  font-weight: 700;
}

@mixin smallText {
  font-weight: 500;
  line-height: 140%;
  font-size: 0.75rem;
}

@mixin preTitle {
  margin: 0;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.75rem;
  text-transform: uppercase;
}

@mixin buttonText {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.95rem;
  text-transform: uppercase;
}

@mixin link {
  font-weight: 700;
  font-size: 0.95rem;
  text-decoration: underline;
  color: var(--appTheme-colorLink);
}
