.h1 {
  margin: 0;
  font-weight: 700;
  letter-spacing: -2;
  font-size: 3.75rem;
}

.h2 {
  margin: 0;
  font-weight: 700;
  letter-spacing: -2;
  font-size: 2.25rem;
}

.h3 {
  margin: 0;
  font-weight: 700;
  letter-spacing: -2;
  font-size: 1.25rem;
}

.sub-title {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.paragraph {
  margin: 0;
  font-weight: 500;
  line-height: 140%;
  font-size: 0.85rem;
}

b,
strong,
.bold-text {
  font-weight: 700;
}

.small-text {
  font-weight: 500;
  line-height: 140%;
  font-size: 0.75rem;
}

.pre-title {
  margin: 0;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.button-text {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.95rem;
  text-transform: uppercase;
}

.link {
  letter-spacing: 0;
  font-weight: 700;
  font-size: 0.95rem;
  text-decoration: underline;
  color: var(--appTheme-colorLink);
  text-transform: none;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
