//* Typography
@mixin text($color, $weight) {
  margin: 0;
  color: $color;
  font-weight: $weight;
}

@mixin text-heading($variant, $color, $weight: 700) {
  @include text($color, $weight);
  letter-spacing: -2;

  @if ($variant == "h1") {
    font-size: 3.75rem;
  }

  @if ($variant == "h2") {
    font-size: 2.25rem;
  }

  @if ($variant == "h3") {
    font-size: 1.25rem;
  }
}

@mixin text-label($variant, $color, $weight: 700) {
  @include text($color, $weight);
  letter-spacing: 1px;
  text-transform: uppercase;

  @if ($variant == "pre-title") {
    font-size: 0.75rem;
  }

  @if ($variant == "button") {
    text-decoration: none;
    text-align: center;
    font-size: 0.95rem;
    color: white;
  }
}

@mixin text-body($variant, $color, $weight) {
  @include text($color, $weight);
  line-height: 140%;

  @if ($variant == "title") {
    font-size: 1.5rem;
  }

  @if ($variant == "sub-title") {
    font-size: 1.25rem;
  }

  @if ($variant == "paragraph") {
    font-size: 0.85rem;
  }

  @if ($variant == "small") {
    font-size: 0.75rem;
  }

  @if ($variant == "smaller") {
    font-size: 0.65rem;
  }

  @if ($variant == "smallest") {
    font-size: 0.5rem;
  }
}

// Use case for the above mixins.
@mixin text-constructor(
  $variant,
  $color: var(--theme-color-text),
  $weight: 500
) {
  @if ($variant == "h1" or $variant == "h2" or $variant == "h3") {
    @include text-heading($variant, $color);
  } @else if ($variant == "pre-title" or $variant == "button") {
    @include text-label($variant, $color);
  } @else {
    @include text-body($variant, $color, $weight);
  }
}

$text-variants: "h1", "h2", "h3", "pre-title", "button", "link", "title",
  "sub-title", "paragraph", "small", "smaller", "smallest";

// Each variant gets a class.
@each $variant in $text-variants {
  .text-#{$variant} {
    @include text-constructor($variant);
  }
}
