// Margin / Padding / Gap Classes.
$spacers: "smallest", "smaller", "default", "medium", "large", "larger",
  "largest", "huge", "humongous";

@each $spacer in $spacers {
  .padding-#{$spacer} {
    padding: var(--spacer-#{$spacer});
  }

  .margin-#{$spacer} {
    margin: var(--spacer-#{$spacer});
  }

  .gap-#{$spacer} {
    gap: var(--spacer-#{$spacer});
  }
}

// Color Classes.
$classNames: (
  "primary": var(--appTheme-colorText),
  "primary-subtle": var(--appTheme-colorTextSubtle),
  "secondary": var(--appTheme-colorBackground),
  "secondary-subtle": var(--appTheme-altColorBackground),
  "brand": var(--appTheme-colorBrand),
  "link": var(--appTheme-colorLink),
);

@each $name, $color in $classNames {
  .color-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}

// Width / Height Classes.
@each $num in 0, 100 {
  .width-#{$num} {
    width: percentage($num / 100);
  }

  .height-#{$num} {
    height: percentage($num / 100);
  }

  .min-width-#{$num} {
    min-width: percentage($num / 100);
  }

  .min-height-#{$num} {
    min-height: percentage($num / 100);
  }

  .max-width-#{$num} {
    max-width: percentage($num / 100);
  }

  .max-height-#{$num} {
    max-height: percentage($num / 100);
  }
}

// Alignment
.align-start {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-end {
  text-align: right;
}

// Filters
[data-theme="dark"] .invert-on-dark {
  filter: invert(1);
}

[data-theme="light"] .invert-on-light {
  filter: invert(1);
}
