@use "./vars";
@use "./mixins";
@import "~normalize.css";
@import "./typography";
@import "./utilities";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");

:root {
  font-size: 16px;
  --layout-gap: #{vars.$size-medium};
  --profile-cover-height: 180px;

  @include mixins.when-vertical-nav-appears() {
    --profile-cover-height: 220px;
  }

  @media (min-width: vars.$breakpoint-tablet) {
    --layout-gap: #{vars.$size-large};
  }
}

body {
  @each $color-name, $color-value in vars.$theme-light {
    --theme-#{$color-name}: #{$color-value};
  }

  [data-theme-inverted] {
    @each $color-name, $color-value in vars.$theme-dark {
      --theme-#{$color-name}: #{$color-value};
    }
  }
}

body[data-theme="dark"] {
  @each $color-name, $color-value in vars.$theme-dark {
    --theme-#{$color-name}: #{$color-value};
  }

  [data-theme-inverted] {
    @each $color-name, $color-value in vars.$theme-light {
      --theme-#{$color-name}: #{$color-value};
    }
  }
}

*,
*::before,
*::after {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Work Sans", "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  color: var(--theme-color-text);
}

// Resets
body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}
