@import "./vars";
@import "./typography";
@import "./buttons";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");

:root {
  font-size: 16px;
}

body {
  --appTheme-colorText: #4a4a68;
  --appTheme-colorTextSubtle: #8c8ca1;
  --appTheme-colorBackground: #e9e7db;
  --appTheme-altColorBackground: white;
  --appTheme-colorLink: #4b4ded;
}

body[data-theme="dark"] {
  --appTheme-colorText: white;
  --appTheme-colorTextSubtle: #8c8ca1;
  --appTheme-colorBackground: #383838;
  --appTheme-altColorBackground: #454545;
  --appTheme-colorLink: #a5a6f6;
}

*,
*::before,
*::after {
  font-size: 1rem;
  font-family: $font;
  box-sizing: border-box;
  color: var(--appTheme-colorText);
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

.subtitle {
  @include subtitle;
}

p,
.paragraph {
  @include paragraph;
}

b,
strong,
.boldText {
  @include boldText;
}

.smallText {
  @include smallText;
}

.preTitle {
  @include preTitle;
}

button,
.buttonText {
  @include buttonText;
}

a,
.link {
  @include link;
}

.textAlignCenter {
  text-align: center;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.alignCenter {
    align-items: center;
  }

  &.gapSmaller {
    gap: $spacerSmaller;
  }

  &.gapDefault {
    gap: $spacerDefault;
  }

  &.gapMedium {
    gap: $spacerMedium;
  }
}

.brand {
  &.header {
    width: calc(#{$spacerHumongous} * 1.5);
  }
}

.paddingMedium {
  padding: $spacerMedium;
}
