@import "./vars";
@import "./typography";

.Menu {
  margin: 0;
  margin-top: $spacerMedium;
  padding: $spacerDefault;
  background-color: map-get($map: $lightTheme, $key: "colorBackground");
  display: flex;
  flex-direction: column;
  gap: $spacerSmaller;
  border-radius: $spacerSmaller;

  .MenuItem {
    padding: $spacerSmaller $spacerDefault;
    background-color: map-get($map: $colorTransparent, $key: "black-10");
    display: flex;
    align-items: center;
    gap: $spacerSmaller;
    border-radius: $spacerSmaller;
    list-style: none;

    .MenuIcon {
      width: $spacerMedium;
      height: $spacerMedium;
    }
  }

  .MenuItem.isValid {
    .MenuLabel {
      color: map-get($map: $lightTheme, $key: "colorTextSubtle");
    }
  }
}
