@import "./vars";

.PasswordCriteria {
  &:focus-within .MenuWrapper {
    max-height: 100rem;
  }

  .MenuWrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height $transitionLong linear;
  }
}
