@import "./vars";

.PasswordCriteria {
  &:focus-within .MenuWrapper {
    max-height: 100rem;
  }

  .MenuWrapper {
    max-height: 0;
    overflow: hidden;

    // Transitions suck at mobiles and smaller tablets.
    @media (min-width: $halfTablet) {
      transition: max-height $transitionLong linear;
    }
  }
}
