@use "../../../sass/vars";

.intro {
  background-color: var(--theme-color-background);

  header {
    transform: rotate(180deg) translateY(2px);
  }

  article {
    padding: var(--layout-gap);

    .title {
      text-align: center;
    }

    .blobs {
      padding: vars.$size-largest 0;
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      gap: calc(#{vars.$size-largest} * 2);

      @media (min-width: vars.$breakpoint-laptop) {
        grid-template-columns: 1fr 1fr;
        // 0 column gap
        gap: calc(#{vars.$size-largest} * 2) 0;
      }
    }
  }
}
