@use "../../../../sass/vars";
@use "../../../../sass/helper" with ($breakpoint: vars.$halfTablet);

.criteria-wrapper {
  &:focus-within .menu-wrapper {
    max-height: 100rem;
  }

  .menu-wrapper {
    max-height: 0;
    overflow: hidden;
    @include helper.transition(all vars.$transitionSlow linear);
  }
}
