@use "../../../../sass/vars";
@use "../../../../sass/mixins";

.criteria-wrapper {
  &:focus-within .menu-wrapper {
    max-height: 100rem;
  }

  .menu-wrapper {
    max-height: 0;
    overflow: hidden;
    @include mixins.transition(all vars.$transition-slow linear);
  }
}
