@use "../../sass/vars";

@mixin gradient($direction, $color1, $color2) {
  width: 100%;
  height: 100%;
  background-image: linear-gradient($direction, $color1, 80%, $color2);
}

.gradient-primary {
  @include gradient(
    180deg,
    var(--appTheme-colorBackground),
    map-get(vars.$colorBrand, "400")
  );
}

.gradient-secondary {
  @include gradient(
    180deg,
    var(--appTheme-colorBackground),
    map-get(vars.$colorSecondary, "400")
  );
}

.gradient-tertiary {
  @include gradient(
    180deg,
    var(--appTheme-colorBackground),
    map-get(vars.$colorTertiary, "400")
  );
}
