@use "../../sass/vars";

.coffee-menu {
  margin: 0;
  margin-top: vars.$size-medium;
  padding: vars.$size-small;
  background-color: var(--theme-color-background);
  display: flex;
  flex-direction: column;
  gap: vars.$size-smaller;
  border-radius: vars.$size-smaller;

  .menu__item {
    padding: calc(#{vars.$size-small} / 1.5) vars.$size-small;
    background-color: map-get(vars.$transparent, "black-10");
    display: flex;
    align-items: center;
    gap: vars.$size-smaller;
    border-radius: vars.$size-smaller;
    list-style: none;

    .menu__icon {
      width: vars.$size-medium;
      height: vars.$size-medium;
    }

    &.valid {
      .menu__label {
        color: var(--theme-color-text-subtle);
      }
    }
  }
}
