@use "../../sass/vars";
@use "../../sass/typography";

.menu {
  > * + * {
    margin-top: var(--layout-gap);
  }

  .menu__title {
    @include typography.button();
    text-align: left;
    color: var(--theme-color-text);
    margin-top: var(--layout-gap);
  }

  &.gap-0 {
    > * + *:not(.gap-auto) {
      margin-top: 0;
    }

    .menu__title {
      margin-bottom: var(--layout-gap);
    }
  }
}
