@use "../../../sass/vars";

.coffee-logo {
  @each $size, $value in vars.$sizes {
    &.logo-#{$size} {
      height: calc($value * 2);

      img {
        object-fit: contain;
        height: 100%;
      }
    }
  }
}
