@use "../../sass/vars";
@use "../../sass/typography";

.auth {
  height: 100%;
  background-color: var(--theme-color-background);
  height: 100%;
  min-height: vars.$breakpoint-mobile;
  display: grid;
  grid-template-rows: auto 1fr;
}

.wrapper {
  height: 100%;
}

.grid {
  height: 100%;
  display: grid;
  place-items: center;
  padding: var(--layout-gap);

  @media (min-width: vars.$breakpoint-desktop) {
    grid-template-columns: 1fr 1fr;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  @include typography.h3();

  @media (min-width: vars.$breakpoint-laptop) {
    @include typography.h2();
  }
}
