@use "../../sass/vars";
@use "../../sass/mixins";

main.auth {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.auth__card-wrapper {
  @media (min-width: vars.$breakpoint-mobile) {
    display: grid;
    place-items: center;
  }
}

.auth__switch-wrapper {
  background-color: var(--theme-color-background-subtle);
  text-align: right;

  @media (min-width: vars.$breakpoint-mobile) {
    background-color: transparent;
  }

  .auth__switch {
    display: inline-flex;
    margin: 0 vars.$size-medium vars.$size-medium 0;
  }
}
