@use "../../../sass/vars";

.footer {
  padding: var(--layout-gap);
  padding-bottom: vars.$size-largest;
  background-color: var(--theme-color-background-subtle);
  border-top: 1px solid var(--theme-color-text-subtle);

  .page-end-indicator {
    margin-top: var(--layout-gap);
    margin-bottom: vars.$size-largest;

    display: flex;
    flex-direction: column;
    gap: vars.$size-small;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: vars.$size-small;
  }
}
