@use "../../sass/vars";
@use "../../sass/mixins";
@use "../../sass/typography";

.profile {
  width: 100%;
  background-color: var(--theme-color-background);
  padding-bottom: var(--layout-gap);

  .profile__intro {
    position: relative;
  }

  .profile__data {
    position: relative;
    padding: var(--layout-gap);

    > * + * {
      margin-top: var(--layout-gap);
    }
  }

  .profile__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--layout-gap);

    @include mixins.when-vertical-nav-appears() {
      grid-template-columns: 1fr 1fr;
    }
  }

  @mixin profile-button {
    width: auto;
    position: absolute;
    margin: 0 !important;
    top: var(--layout-gap);
    right: var(--layout-gap);
    z-index: vars.$z-index-nav;
  }

  .profile__button {
    @include profile-button();
  }

  .profile__button--2 {
    @include profile-button();
    top: calc(var(--layout-gap) * 2);
  }
}
