@use "../../../sass/vars";
@use "../../../sass/mixins";

.navbar {
  @include mixins.navbar();
  width: vars.$navbar-size-desktop;
  height: calc(100vh - calc(var(--layout-gap) * 2));
  top: var(--layout-gap);
  left: var(--layout-gap);

  @media (min-width: vars.$breakpoint-desktop) {
    height: calc(100vh - var(--layout-gap) * 4);
  }

  @media (min-width: vars.$breakpoint-high-definition) {
    height: calc(100vh - var(--layout-gap) * 6);
  }
}
