@import "../../../sass/vars";

@mixin gradient {
  width: 100%;
  height: 100%;
}

.gradient-primary {
  @include gradient;
  background: linear-gradient(
    to bottom,
    var(--appTheme-colorBackground),
    80%,
    map-get($colorBrand, "400")
  );
}

.gradient-secondary {
  @include gradient;
  background: linear-gradient(
    to bottom,
    var(--appTheme-colorBackground),
    80%,
    map-get($colorSecondary, "400")
  );
}

.gradient-tertiary {
  @include gradient;
  background: linear-gradient(
    to bottom,
    var(--appTheme-colorBackground),
    80%,
    map-get($colorTertiary, "400")
  );
}
