@use "../../../../sass/vars";

.switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vars.$spacerSmaller;

  .slider {
    width: 4rem;
    height: 2rem;
    border-radius: vars.$spacerMedium;
    border: 0;
    background-color: map-get(vars.$colorTertiary, "200");
    position: relative;
    cursor: pointer;

    .thumb {
      width: 1.65rem;
      height: 1.65rem;
      display: inline-block;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: calc(#{vars.$spacerSmaller} / 3);
      transform: translate(-110%);

      // Transitions suck at mobiles and smaller tablets.
      @media (min-width: vars.$halfTablet) {
        transition: transform vars.$transitionFast ease-out;
      }
    }

    @media (min-width: vars.$smallestTablet) {
      width: 4.5rem;
      height: 2.5rem;

      .thumb {
        width: 2rem;
        height: 2rem;
        top: calc(#{vars.$spacerSmaller} / 2);
        transform: translate(-100%);
      }
    }

    &.checked {
      background-color: map-get(vars.$colorBrand, "400");

      .thumb {
        left: auto;
        transform: translate(0) scale(1.5);
      }
    }
  }
}
