@use "../../sass/vars";
@use "../../sass/mixins";

[data-theme="dark"] .modal__overlay {
  background-color: map-get(vars.$transparent, "black-75");
}

.modal__overlay {
  inset: 0px;
  position: fixed;
  z-index: vars.$z-index-modal;
  background-color: map-get(vars.$transparent, "white-75");

  .modal__content {
    // overflow
    overflow: auto;
    @include mixins.scrollbar();
    // positioning
    position: absolute;
    inset: var(--layout-gap);
    bottom: calc(vars.$navbar-size-mobile + var(--layout-gap));
    // styling
    background-color: var(--theme-color-background-subtle);
    border-radius: vars.$border-radius-small;
    padding: var(--layout-gap);

    @include mixins.when-vertical-nav-appears() {
      // positioning
      bottom: auto;
      left: 50%;
      translate: -50%;
      // sizing
      width: vars.$breakpoint-mobile;
      max-height: calc(100% - var(--layout-gap) * 2);
    }

    > * + * {
      // Every direct child with a previous sibling gets margin on top.
      margin-top: vars.$size-medium;
    }

    > #modalCloseButton {
      position: absolute;
      top: vars.$size-small;
      right: vars.$size-small;
      margin-top: 0;
    }
  }
}
