.image {
  display: flex;

  // For reference on how to filter an SVG's colors:
  // https://codepen.io/sosuke/pen/Pjoqqp

  &.filter-brand {
    filter: invert(55%) sepia(57%) saturate(5000%) hue-rotate(332deg)
      brightness(97%) contrast(86%);
  }

  &.filter-secondary {
    filter: invert(76%) sepia(13%) saturate(544%) hue-rotate(356deg)
      brightness(104%) contrast(86%);
  }

  &.filter-tertiary {
    filter: invert(66%) sepia(1%) saturate(1132%) hue-rotate(11deg)
      brightness(84%) contrast(84%);
  }

  &.filter-link {
    filter: invert(23%) sepia(82%) saturate(5020%) hue-rotate(240deg)
      brightness(101%) contrast(86%);
  }

  &.filter-valid {
    filter: invert(69%) sepia(46%) saturate(587%) hue-rotate(114deg)
      brightness(90%) contrast(94%);
  }

  &.filter-invalid {
    filter: invert(46%) sepia(36%) saturate(1392%) hue-rotate(285deg)
      brightness(92%) contrast(101%);
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
