@use "../../../sass/vars";

.flexbox {
  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }

  &-row,
  &-column {
    display: flex;

    &.flexbox-inline {
      display: inline-flex;
    }

    &.justify-start {
      justify-content: flex-start;
    }

    &.justify-center {
      justify-content: center;
    }

    &.justify-end {
      justify-content: flex-end;
    }

    &.justify-between {
      justify-content: space-between;
    }

    &.align-start {
      align-items: flex-start;
    }

    &.align-center {
      align-items: center;
    }

    &.align-stretch {
      align-items: stretch;
    }
  }
}
