@use "../../../sass/vars";

.cover {
  height: 10rem;
  border-radius: vars.$border-radius-small;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}
