@use "../../sass/vars";

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--theme-color-background);
  position: relative;

  * {
    border-radius: 50%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@each $key, $value in vars.$sizes {
  .avatar-#{$key} {
    width: calc($value * 3);
    height: calc($value * 3);
    font-size: calc($value * 3);
    border: calc($value / 6) solid;
  }
}
