@import "./sass/vars";
@import "./sass/typography";
@import "./sass/buttons";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");

*,
*::before,
*::after {
  font-size: 1rem;
  font-family: $font;
  color: map-get($map: $lightTheme, $key: "colorText");
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

.subtitle {
  @include subtitle;
}

p,
.paragraph {
  @include paragraph;
}

b,
strong,
.boldText {
  @include boldText;
}

.smallText {
  @include smallText;
}

.preTitle {
  @include preTitle;
}

button,
.buttonText {
  @include buttonText;
}

button {
  @include button();
}

a,
.link {
  @include link;
}
