@use "../../../sass/vars";
@use "../../../sass/typography";

.menu__item {
  display: flex;
  gap: vars.$size-small;

  &-row {
    align-items: center;
  }

  &-column {
    flex-direction: column;
    justify-content: center;
  }

  .menu__text {
    flex-grow: 1;
    @include typography.paragraph(var(--theme-color-text-subtle));
  }

  .underlined {
    padding-bottom: 2px;
    border-bottom: 1px solid map-get(vars.$color-brand, "400");
  }

  .menu__link,
  &[data-linked="true"] {
    &:hover,
    &:focus-within {
      cursor: pointer;
      outline: 1px dotted var(--theme-color-link);
    }
  }
}
