@use "../../../sass/vars";
@use "../../../sass/mixins";

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  > *,
  .card-body > * {
    align-self: stretch;
  }

  &.singular {
    width: 100%;
    height: 100%;
    padding: vars.$size-large;
    background-color: var(--theme-color-background-subtle);

    @media (min-width: vars.$breakpoint-mobile) {
      width: 23.75rem; //380px
      height: auto;
      box-shadow: vars.$box-shadow-minimal;
      border-radius: vars.$size-smaller;
    }
  }
}
