@use "../../../../sass/vars";

[data-editable="true"] {
  .profile__intro {
    padding: 0;
    padding-top: calc(var(--layout-gap) * 4);

    .avatar {
      transform: translate(-50%, -90%);
    }
  }
}
