@use "../../sass/vars";

.error {
  height: 100%;
  min-height: vars.$breakpoint-mobile;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--theme-color-background);
}

.wrapper {
  padding: var(--layout-gap);
  display: grid;
  height: 100%;
  place-items: center;
}

.content {
  display: grid;
  place-items: center;
  text-align: center;
}

.heading {
  color: map-get(vars.$color-brand, "400");
  font-size: 40vw;
  text-shadow: 3vw 3vw var(--theme-color-root);

  @media (min-width: vars.$breakpoint-tablet) {
    font-size: calc(vars.$size-largest * 5);
    text-shadow: 1rem 1rem var(--theme-color-root);
  }
}

.title {
  color: var(--theme-color-text);
  font-size: calc(vars.$size-largest / 2);
  margin-bottom: vars.$size-medium;
}
